#title {
    margin-top: 0;
    text-align: center;
    background-color: antiquewhite;
    font-size: 600%;
    border-bottom: 5px solid black;
}

button {
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
    font-size: 30px;
}

.question {
    display: inline-block;
    margin: 0 auto;
}

.question {
    text-align: center;
    display: inline-block;
    font-size: 200%;
    margin-top: 5%;
}

.body {
    margin-top: 0;
    font-size: 30px;
}

.hidden {
    display: none;
}

.title {
    font-size: 10px;
}

input[type=radio] {
    border: 0px;
    width: 20px;
    height: 2em;
}